In [ ]:
pip install xg

In [2]:
import pickle

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_excel("Flight_new_Data.xls")
df.head()

,airlines,Date,Month,Weekday,depr_Citie,Ar_Citie,Travel_Time,no_stops,Price,avg_Price,min_Price,Dep_Time_hr,Dep_Time_min,Ar_Time_hr,Ar_Time_min,time_differ_min
0,IndiGo,1,1,5,jaipur,Bengaluru,155,0,7203,7911.4,6203,5,15,7,50,2237
1,IndiGo,1,1,5,jaipur,Bengaluru,160,0,7679,7911.4,6203,22,20,1,0,3262
2,IndiGo,1,1,5,jaipur,Bengaluru,345,1,7688,7911.4,6203,4,50,10,35,2212
3,IndiGo,1,1,5,jaipur,Bengaluru,380,1,7736,7911.4,6203,14,15,20,35,2777
4,IndiGo,1,1,5,jaipur,Bengaluru,405,1,7946,7911.4,6203,14,10,20,55,2772

In [4]:
df.drop(labels= ['Ar_Time_min','Ar_Time_hr', 'avg_Price', 'min_Price'], axis = 1, inplace= True)

In [5]:
X = df.drop(labels= ['Price'], axis= True)
y = df["Price"]

In [6]:
discrete_features = X.dtypes == int

In [7]:
# Let us split our dataset into train & yest
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=100)

In [8]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((9997, 11), (2500, 11), (9997,), (2500,))

In [9]:
print("Glimpse of Feature variables in train dataset - x_train:")
X_train.head()

Glimpse of Feature variables in train dataset - x_train:

,airlines,Date,Month,Weekday,depr_Citie,Ar_Citie,Travel_Time,no_stops,Dep_Time_hr,Dep_Time_min,time_differ_min
1850,Air India,22,5,6,jaipur,Bengaluru,150,0,22,20,206006
1800,IndiGo,18,5,2,jaipur,Bengaluru,150,0,5,30,199241
6432,Air India,1,5,6,jaipur,new delhi,1270,2,14,0,175637
12453,IndiGo,28,6,1,jaipur,mumbai,595,1,21,5,260406
6225,GoFirst,17,4,6,jaipur,new delhi,430,1,18,45,155779

In [10]:
# let us select the numerical columns that need scaling
num_col = ['Date', 'Month', 'Travel_Time',
       'no_stops', 'Dep_Time_hr', 'Dep_Time_min', 'time_differ_min']
len(num_col)

7

In [11]:

# Import the StandardScaler()
from sklearn.preprocessing import StandardScaler

## Scaling the train and test data
sc = StandardScaler()
X_train[num_col] = sc.fit_transform(X_train[num_col])
X_test[num_col] = sc.transform(X_test[num_col])
X_train.head()

,airlines,Date,Month,Weekday,depr_Citie,Ar_Citie,Travel_Time,no_stops,Dep_Time_hr,Dep_Time_min,time_differ_min
1850,Air India,0.725405,0.874315,6,jaipur,Bengaluru,-0.711699,-1.199805,1.566054,-0.440420,1.003880
1800,IndiGo,0.266208,0.874315,2,jaipur,Bengaluru,-0.711699,-1.199805,-1.611204,0.177181,0.913610
6432,Air India,-1.685381,0.874315,6,jaipur,new delhi,2.152915,2.575596,0.070874,-1.675621,0.598645
12453,IndiGo,1.414201,1.459866,1,jaipur,mumbai,0.426473,0.687896,1.379157,-1.366821,1.729777
6225,GoFirst,0.151408,0.288763,6,jaipur,new delhi,0.004454,0.687896,0.818464,1.103582,0.333666

In [12]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first', sparse=False, dtype=np.int32)

In [13]:
X_train_ohe = ohe.fit_transform(X_train[['airlines', 'depr_Citie', 'Ar_Citie', 'Weekday']])
X_test_ohe = ohe.transform(X_test[['airlines', 'depr_Citie', 'Ar_Citie', 'Weekday']])

In [14]:
X_train_ohe

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 1, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [15]:
X_train[num_col].values

array([[ 0.72540521,  0.87431495, -0.71169931, ...,  1.56605421,
        -0.44041976,  1.00387984],
       [ 0.26620775,  0.87431495, -0.71169931, ..., -1.6112035 ,
         0.17718107,  0.91360977],
       [-1.68538146,  0.87431495,  2.15291503, ...,  0.07087411,
        -1.67562143,  0.59864529],
       ...,
       [ 1.06980331, -0.88233941, -0.17458412, ..., -1.79810102,
         0.17718107, -0.79805222],
       [-1.34098337,  1.4598664 , -0.95467999, ..., -1.23740848,
         0.48598149,  1.24625465],
       [-0.76698654, -0.29678796, -0.02112264, ..., -1.05051097,
         1.10358233, -0.42310784]])

In [16]:
X_train_new = np.hstack((X_train[num_col].values, X_train_ohe))
X_test_new = np.hstack((X_test[num_col].values, X_test_ohe))

## Model building

<a id='m7'></a>
### <a> Model 1- DecisionTreeRegressor

In [17]:
from sklearn.model_selection import KFold

In [18]:
from sklearn.model_selection import RandomizedSearchCV

In [19]:
from sklearn.tree import DecisionTreeRegressor
#Training the Model with default parameters
dtree = DecisionTreeRegressor(random_state = 1)
params = {"criterion": ["mse", "friedman_mse", "mae", "poisson"],
          "min_samples_split": [6,7,8,9,10],
            "max_depth" : [12,13,14,15,16,17]
         }
  
# create 5 folds
folds = KFold(n_splits = 5, shuffle = True, random_state = 3)

dtree_model = RandomizedSearchCV(estimator=dtree, cv=folds, param_distributions=params, scoring='neg_mean_squared_error', n_jobs=-1, verbose=1,
                                return_train_score = True, random_state=42)

In [20]:
dtree_model.fit(X_train_new,y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\HP\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=3, shuffle=True),
                   estimator=DecisionTreeRegressor(random_state=1), n_jobs=-1,
                   param_distributions={'criterion': ['mse', 'friedman_mse',
                                                      'mae', 'poisson'],
                                        'max_depth': [12, 13, 14, 15, 16, 17],
                                        'min_samples_split': [6, 7, 8, 9, 10]},
                   random_state=42, return_train_score=True,
                   scoring='neg_mean_squared_error', verbose=1)

In [21]:
dtree_model.best_estimator_

DecisionTreeRegressor(criterion='mae', max_depth=12, min_samples_split=10,
                      random_state=1)

In [22]:
dtree = DecisionTreeRegressor(criterion= 'mae', max_depth=12, min_samples_split=10, random_state = 42)

In [23]:
dtree.fit(X_train_new,y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(

DecisionTreeRegressor(criterion='mae', max_depth=12, min_samples_split=10,
                      random_state=42)

In [24]:
dtree.score(X_train_new,y_train)

0.014334794356607894

In [25]:
dtree.score(X_test_new,y_test)

-0.03681812381918026

In [26]:
y_train_pred = dtree_model.predict(X_train_new)
y_test_pred = dtree_model.predict(X_test_new)

In [27]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [28]:
train_mae = round(mean_absolute_error(y_train.values, y_train_pred),3)
train_r2 = round(r2_score(y_train.values, y_train_pred),3)


test_mae = round(mean_absolute_error(y_test.values, y_test_pred),3)
test_r2 = round(r2_score(y_test.values, y_test_pred),3)

In [29]:
from math import sqrt

In [30]:
print("Train Results for Decision Tree Regressor Model:")
print(50 * '-')
print("Root mean squared error: ", round(sqrt(mean_squared_error(y_train.values, y_train_pred)),3))
print("Mean absolute error: ",train_mae)
print("Mean squared error: ",round(mean_squared_error(y_train.values, y_train_pred),3))
print("R-squared: ", train_r2)

Train Results for Decision Tree Regressor Model:
--------------------------------------------------
Root mean squared error:  22448.628
Mean absolute error:  3028.335
Mean squared error:  503940891.214
R-squared:  0.016

In [31]:
print("Test Results for Decision Tree Regressor Model:")
print(50 * '-')
print("Root mean squared error: ", round(sqrt(mean_squared_error(y_test.values, y_test_pred)),3))
print("Mean absolute error: ",test_mae)
print("Mean squared error: ",round(mean_squared_error(y_test.values, y_test_pred),3))
print("R-squared: ", test_r2)

Test Results for Decision Tree Regressor Model:
--------------------------------------------------
Root mean squared error:  31187.213
Mean absolute error:  4383.657
Mean squared error:  972642285.806
R-squared:  -0.04

<a id='m7'></a>
### <a> Model 2- XGBoost Regression

In [32]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import KFold
import xgboost

xgb = xgboost.XGBRegressor(random_state=42,n_estimators=120)

params = {
    "gamma": [21,22],
        "max_depth": [8,10],
#         "learning_rate": [0.1,0.2],
#         "n_estimators": [60],
#         "max_depth": [13,14,15,16],
        "learning_rate": [0.17,0.18,0.19,0.2],
        "child_weight": [23,24],
      }
# max_depth, min_child_weight and gamma.

# create 5 folds
folds = KFold(n_splits = 5, shuffle = True, random_state = 4)

xgb_model = RandomizedSearchCV(estimator=xgb, param_distributions=params, cv=folds, scoring = 'neg_mean_absolute_error',n_jobs = -1, 
                               verbose = 1, return_train_score = True, random_state=42)

# n_iter=50,

In [33]:
# fit model
xgb_model.fit(X_train_new, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[15:05:53] WARNING: ..\src\learner.cc:541:
Parameters: { child_weight } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=4, shuffle=True),
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,...
                                          random_state=42, reg_alpha=None,
                                          reg_lambda=None,
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=None),
                   n_jobs=-1,
                   param_distributions={'child_weight': [23, 24],
                                        'gamma': [21, 22],
                                        'learning_rate': [0.17, 0.18, 0.19,
                                                          0.2],
                                        'max_depth': [8, 10]},
                   random_state=42, return_train_score=True,
                   scoring='neg_mean_absolute_error', verbose=1)

In [34]:
xgb_model.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', child_weight=24,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             gamma=22, gpu_id=-1, importance_type='gain',
             interaction_constraints='', learning_rate=0.17, max_delta_step=0,
             max_depth=8, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=120, n_jobs=8,
             num_parallel_tree=1, random_state=42, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [35]:
y_train_pred = xgb_model.predict(X_train_new)
y_test_pred = xgb_model.predict(X_test_new)

In [36]:
train_mae = round(mean_absolute_error(y_train.values, y_train_pred),3)
train_r2 = round(r2_score(y_train.values, y_train_pred),3)


test_mae = round(mean_absolute_error(y_test.values, y_test_pred),3)
test_r2 = round(r2_score(y_test.values, y_test_pred),3)

In [37]:
print("Train Results for Xgboost Regressor Model:")
print(50 * '-')
print("Root mean squared error: ", round(sqrt(mean_squared_error(y_train.values, y_train_pred)),3))
print("Mean absolute error: ",train_mae)
print("Mean squared error: ",round(mean_squared_error(y_train.values, y_train_pred),3))
print("R-squared: ", train_r2)

Train Results for Xgboost Regressor Model:
--------------------------------------------------
Root mean squared error:  7261.434
Mean absolute error:  2590.778
Mean squared error:  52728420.725
R-squared:  0.897

In [38]:
print("Test Results for Xgboost Regressor Model:")
print(50 * '-')
print("Root mean squared error: ", round(sqrt(mean_squared_error(y_test.values, y_test_pred)),3))
print("Mean absolute error: ",test_mae)
print("Mean squared error: ",round(mean_squared_error(y_test.values, y_test_pred),3))
print("R-squared: ", test_r2)

Test Results for Xgboost Regressor Model:
--------------------------------------------------
Root mean squared error:  32141.974
Mean absolute error:  6873.959
Mean squared error:  1033106481.787
R-squared:  -0.105

# DL model

In [39]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten

In [40]:
NN_model = Sequential()

# The Input Layer :
NN_model.add(Dense(128, kernel_initializer='normal',input_dim = X_train_new.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(Dense(256, kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model.add(Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               3072
_________________________________________________________________
dense_1 (Dense)              (None, 256)               33024
_________________________________________________________________
dense_2 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_3 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 257
=================================================================
Total params: 167,937
Trainable params: 167,937
Non-trainable params: 0
_________________________________________________________________

In [41]:
NN_model.fit(X_train_new, y_train, epochs=50, batch_size=32, verbose= 2)

Epoch 1/50
313/313 - 18s - loss: 4063.7351 - mean_absolute_error: 4063.7351
Epoch 2/50
313/313 - 1s - loss: 3519.5295 - mean_absolute_error: 3519.5295
Epoch 3/50
313/313 - 1s - loss: 3451.7402 - mean_absolute_error: 3451.7402
Epoch 4/50
313/313 - 1s - loss: 3396.6011 - mean_absolute_error: 3396.6011
Epoch 5/50
313/313 - 1s - loss: 3372.9419 - mean_absolute_error: 3372.9419
Epoch 6/50
313/313 - 1s - loss: 3353.2947 - mean_absolute_error: 3353.2947
Epoch 7/50
313/313 - 1s - loss: 3347.9031 - mean_absolute_error: 3347.9031
Epoch 8/50
313/313 - 1s - loss: 3341.6934 - mean_absolute_error: 3341.6934
Epoch 9/50
313/313 - 1s - loss: 3339.3076 - mean_absolute_error: 3339.3076
Epoch 10/50
313/313 - 1s - loss: 3331.4854 - mean_absolute_error: 3331.4854
Epoch 11/50
313/313 - 1s - loss: 3337.0610 - mean_absolute_error: 3337.0610
Epoch 12/50
313/313 - 1s - loss: 3328.5796 - mean_absolute_error: 3328.5796
Epoch 13/50
313/313 - 1s - loss: 3326.7739 - mean_absolute_error: 3326.7739
Epoch 14/50
313/313 - 1s - loss: 3325.2961 - mean_absolute_error: 3325.2961
Epoch 15/50
313/313 - 1s - loss: 3324.0811 - mean_absolute_error: 3324.0811
Epoch 16/50
313/313 - 1s - loss: 3321.2329 - mean_absolute_error: 3321.2329
Epoch 17/50
313/313 - 1s - loss: 3318.6836 - mean_absolute_error: 3318.6836
Epoch 18/50
313/313 - 1s - loss: 3318.0212 - mean_absolute_error: 3318.0212
Epoch 19/50
313/313 - 1s - loss: 3315.7898 - mean_absolute_error: 3315.7898
Epoch 20/50
313/313 - 1s - loss: 3318.6311 - mean_absolute_error: 3318.6311
Epoch 21/50
313/313 - 1s - loss: 3312.3777 - mean_absolute_error: 3312.3777
Epoch 22/50
313/313 - 1s - loss: 3312.4553 - mean_absolute_error: 3312.4553
Epoch 23/50
313/313 - 1s - loss: 3309.9473 - mean_absolute_error: 3309.9473
Epoch 24/50
313/313 - 1s - loss: 3311.1577 - mean_absolute_error: 3311.1577
Epoch 25/50
313/313 - 1s - loss: 3308.7324 - mean_absolute_error: 3308.7324
Epoch 26/50
313/313 - 1s - loss: 3308.7043 - mean_absolute_error: 3308.7043
Epoch 27/50
313/313 - 1s - loss: 3304.2764 - mean_absolute_error: 3304.2764
Epoch 28/50
313/313 - 1s - loss: 3303.3511 - mean_absolute_error: 3303.3511
Epoch 29/50
313/313 - 1s - loss: 3304.5461 - mean_absolute_error: 3304.5461
Epoch 30/50
313/313 - 1s - loss: 3304.2925 - mean_absolute_error: 3304.2925
Epoch 31/50
313/313 - 1s - loss: 3300.2688 - mean_absolute_error: 3300.2688
Epoch 32/50
313/313 - 1s - loss: 3300.9397 - mean_absolute_error: 3300.9397
Epoch 33/50
313/313 - 1s - loss: 3296.3484 - mean_absolute_error: 3296.3484
Epoch 34/50
313/313 - 1s - loss: 3293.8743 - mean_absolute_error: 3293.8743
Epoch 35/50
313/313 - 1s - loss: 3291.7029 - mean_absolute_error: 3291.7029
Epoch 36/50
313/313 - 1s - loss: 3289.1055 - mean_absolute_error: 3289.1055
Epoch 37/50
313/313 - 1s - loss: 3287.0437 - mean_absolute_error: 3287.0437
Epoch 38/50
313/313 - 1s - loss: 3290.5979 - mean_absolute_error: 3290.5979
Epoch 39/50
313/313 - 1s - loss: 3284.5857 - mean_absolute_error: 3284.5857
Epoch 40/50
313/313 - 1s - loss: 3283.6592 - mean_absolute_error: 3283.6592
Epoch 41/50
313/313 - 1s - loss: 3284.5815 - mean_absolute_error: 3284.5815
Epoch 42/50
313/313 - 1s - loss: 3282.1404 - mean_absolute_error: 3282.1404
Epoch 43/50
313/313 - 1s - loss: 3277.7048 - mean_absolute_error: 3277.7048
Epoch 44/50
313/313 - 1s - loss: 3276.6531 - mean_absolute_error: 3276.6531
Epoch 45/50
313/313 - 1s - loss: 3275.6921 - mean_absolute_error: 3275.6921
Epoch 46/50
313/313 - 1s - loss: 3281.1711 - mean_absolute_error: 3281.1711
Epoch 47/50
313/313 - 1s - loss: 3274.9978 - mean_absolute_error: 3274.9978
Epoch 48/50
313/313 - 1s - loss: 3275.7349 - mean_absolute_error: 3275.7349
Epoch 49/50
313/313 - 1s - loss: 3271.9062 - mean_absolute_error: 3271.9062
Epoch 50/50
313/313 - 1s - loss: 3272.9878 - mean_absolute_error: 3272.9878

In [42]:
NN_model.evaluate(X_test_new, y_test)

79/79 [==============================] - 1s 1ms/step - loss: 4104.3584 - mean_absolute_error: 4104.3584

[4104.3583984375, 4104.3583984375]

In [43]:
pickle.dump(dtree_model,open('models/dtree_model.pkl','wb'))

In [44]:
pickle.dump(xgb_model,open('models/xgb_model.pkl','wb'))

In [45]:
pickle.dump(sc,open('models/StandardScaler.pkl','wb'))

In [46]:
pickle.dump(ohe,open('models/OneHotEncoder.pkl','wb'))