In [5]:
import pickle

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
df = pd.read_excel("Flight_new_Data.xls")
df.head()

,airlines,Date,Month,Weekday,depr_Citie,Ar_Citie,Travel_Time,no_stops,Price,avg_Price,min_Price,Dep_Time_hr,Dep_Time_min,Ar_Time_hr,Ar_Time_min,time_differ_min
0,IndiGo,1,1,5,jaipur,Bengaluru,155,0,7203,7911.4,6203,5,15,7,50,2237
1,IndiGo,1,1,5,jaipur,Bengaluru,160,0,7679,7911.4,6203,22,20,1,0,3262
2,IndiGo,1,1,5,jaipur,Bengaluru,345,1,7688,7911.4,6203,4,50,10,35,2212
3,IndiGo,1,1,5,jaipur,Bengaluru,380,1,7736,7911.4,6203,14,15,20,35,2777
4,IndiGo,1,1,5,jaipur,Bengaluru,405,1,7946,7911.4,6203,14,10,20,55,2772

In [8]:
df.drop(labels= ['Ar_Time_min','Ar_Time_hr', 'avg_Price', 'min_Price'], axis = 1, inplace= True)

In [9]:
X = df.drop(labels= ['Price'], axis= True)
y = df["Price"]

In [10]:
discrete_features = X.dtypes == int

In [11]:
# Let us split our dataset into train & yest
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=100)

In [12]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((9997, 11), (2500, 11), (9997,), (2500,))

In [13]:
print("Glimpse of Feature variables in train dataset - x_train:")
X_train.head()

Glimpse of Feature variables in train dataset - x_train:

,airlines,Date,Month,Weekday,depr_Citie,Ar_Citie,Travel_Time,no_stops,Dep_Time_hr,Dep_Time_min,time_differ_min
1850,Air India,22,5,6,jaipur,Bengaluru,150,0,22,20,206006
1800,IndiGo,18,5,2,jaipur,Bengaluru,150,0,5,30,199241
6432,Air India,1,5,6,jaipur,new delhi,1270,2,14,0,175637
12453,IndiGo,28,6,1,jaipur,mumbai,595,1,21,5,260406
6225,GoFirst,17,4,6,jaipur,new delhi,430,1,18,45,155779

In [14]:
# let us select the numerical columns that need scaling
num_col = ['Date', 'Month', 'Travel_Time',
       'no_stops', 'Dep_Time_hr', 'Dep_Time_min', 'time_differ_min']
len(num_col)

7

In [15]:

# Import the StandardScaler()
from sklearn.preprocessing import StandardScaler

## Scaling the train and test data
sc = StandardScaler()
X_train[num_col] = sc.fit_transform(X_train[num_col])
X_test[num_col] = sc.transform(X_test[num_col])
X_train.head()

,airlines,Date,Month,Weekday,depr_Citie,Ar_Citie,Travel_Time,no_stops,Dep_Time_hr,Dep_Time_min,time_differ_min
1850,Air India,0.725405,0.874315,6,jaipur,Bengaluru,-0.711699,-1.199805,1.566054,-0.440420,1.003880
1800,IndiGo,0.266208,0.874315,2,jaipur,Bengaluru,-0.711699,-1.199805,-1.611204,0.177181,0.913610
6432,Air India,-1.685381,0.874315,6,jaipur,new delhi,2.152915,2.575596,0.070874,-1.675621,0.598645
12453,IndiGo,1.414201,1.459866,1,jaipur,mumbai,0.426473,0.687896,1.379157,-1.366821,1.729777
6225,GoFirst,0.151408,0.288763,6,jaipur,new delhi,0.004454,0.687896,0.818464,1.103582,0.333666

In [16]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first', sparse=False, dtype=np.int32)

In [17]:
X_train_ohe = ohe.fit_transform(X_train[['airlines', 'depr_Citie', 'Ar_Citie', 'Weekday']])
X_test_ohe = ohe.transform(X_test[['airlines', 'depr_Citie', 'Ar_Citie', 'Weekday']])

In [18]:
X_train_ohe

array([[0, 0, 0, ..., 0, 0, 1],
       [0, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 1, ..., 1, 0, 0],
       [0, 0, 1, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 0, 0]])

In [19]:
X_train[num_col].values

array([[ 0.72540521,  0.87431495, -0.71169931, ...,  1.56605421,
        -0.44041976,  1.00387984],
       [ 0.26620775,  0.87431495, -0.71169931, ..., -1.6112035 ,
         0.17718107,  0.91360977],
       [-1.68538146,  0.87431495,  2.15291503, ...,  0.07087411,
        -1.67562143,  0.59864529],
       ...,
       [ 1.06980331, -0.88233941, -0.17458412, ..., -1.79810102,
         0.17718107, -0.79805222],
       [-1.34098337,  1.4598664 , -0.95467999, ..., -1.23740848,
         0.48598149,  1.24625465],
       [-0.76698654, -0.29678796, -0.02112264, ..., -1.05051097,
         1.10358233, -0.42310784]])

In [20]:
X_train_new = np.hstack((X_train[num_col].values, X_train_ohe))
X_test_new = np.hstack((X_test[num_col].values, X_test_ohe))

<a id='m7'></a>
### <a> XGBoost Regression

In [21]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import KFold
import xgboost

xgb = xgboost.XGBRegressor(random_state=42,n_estimators=120)

params = {
    "gamma": [21,22],
        "max_depth": [8,10],
#         "learning_rate": [0.1,0.2],
#         "n_estimators": [60],
#         "max_depth": [13,14,15,16],
        "learning_rate": [0.17,0.18,0.19,0.2],
        "child_weight": [23,24],
      }
# max_depth, min_child_weight and gamma.

# create 5 folds
folds = KFold(n_splits = 5, shuffle = True, random_state = 4)

xgb_model = RandomizedSearchCV(estimator=xgb, param_distributions=params, cv=folds, scoring = 'neg_mean_absolute_error',n_jobs = -1, 
                               verbose = 1, return_train_score = True, random_state=42)

In [22]:
# fit model
xgb_model.fit(X_train_new, y_train)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[10:48:25] WARNING: ..\src\learner.cc:541:
Parameters: { child_weight } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=4, shuffle=True),
                   estimator=XGBRegressor(base_score=None, booster=None,
                                          colsample_bylevel=None,
                                          colsample_bynode=None,
                                          colsample_bytree=None, gamma=None,
                                          gpu_id=None, importance_type='gain',
                                          interaction_constraints=None,
                                          learning_rate=None,
                                          max_delta_step=None, max_depth=None,
                                          min_child_weight=None, missing=nan,...
                                          random_state=42, reg_alpha=None,
                                          reg_lambda=None,
                                          scale_pos_weight=None, subsample=None,
                                          tree_method=None,
                                          validate_parameters=None,
                                          verbosity=None),
                   n_jobs=-1,
                   param_distributions={'child_weight': [23, 24],
                                        'gamma': [21, 22],
                                        'learning_rate': [0.17, 0.18, 0.19,
                                                          0.2],
                                        'max_depth': [8, 10]},
                   random_state=42, return_train_score=True,
                   scoring='neg_mean_absolute_error', verbose=1)

In [23]:
xgb_model.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', child_weight=24,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             gamma=22, gpu_id=-1, importance_type='gain',
             interaction_constraints='', learning_rate=0.17, max_delta_step=0,
             max_depth=8, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=120, n_jobs=8,
             num_parallel_tree=1, random_state=42, reg_alpha=0, reg_lambda=1,
             scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [24]:
y_train_pred = xgb_model.predict(X_train_new)
y_test_pred = xgb_model.predict(X_test_new)

In [25]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from math import sqrt

In [26]:
train_mae = round(mean_absolute_error(y_train.values, y_train_pred),3)
train_r2 = round(r2_score(y_train.values, y_train_pred),3)


test_mae = round(mean_absolute_error(y_test.values, y_test_pred),3)
test_r2 = round(r2_score(y_test.values, y_test_pred),3)

In [27]:
print("Train Results for Xgboost Regressor Model:")
print(50 * '-')
print("Root mean squared error: ", round(sqrt(mean_squared_error(y_train.values, y_train_pred)),3))
print("Mean absolute error: ",train_mae)
print("Mean squared error: ",round(mean_squared_error(y_train.values, y_train_pred),3))
print("R-squared: ", train_r2)

Train Results for Xgboost Regressor Model:
--------------------------------------------------
Root mean squared error:  7261.434
Mean absolute error:  2590.778
Mean squared error:  52728420.725
R-squared:  0.897

In [28]:
print("Test Results for Xgboost Regressor Model:")
print(50 * '-')
print("Root mean squared error: ", round(sqrt(mean_squared_error(y_test.values, y_test_pred)),3))
print("Mean absolute error: ",test_mae)
print("Mean squared error: ",round(mean_squared_error(y_test.values, y_test_pred),3))
print("R-squared: ", test_r2)

Test Results for Xgboost Regressor Model:
--------------------------------------------------
Root mean squared error:  32141.974
Mean absolute error:  6873.959
Mean squared error:  1033106481.787
R-squared:  -0.105

In [26]:
pickle.dump(xgb_model,open('price_xgb_model.pkl','wb'))

In [27]:
pickle.dump(sc,open('price_StandardScaler.pkl','wb'))

In [28]:
pickle.dump(ohe,open('OneHotEncoder.pkl','wb'))